extends template
block content
    div
        | Hello dear - #{userName}
        br
        |Thank You for registration in our small but very perspective project!
        br
        img(src = "cid:logoDanceEducation")
